body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outline {
    vertical-align: middle;
    line-height: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}

.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menu-icon {
    display: none;
    float: left;
}

.header-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    right: 0;
}

.horizontalbar-list {
    margin: 2px;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #21232d;
}

.dropdown-content a:hover {
    color: #246dec;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ffffff;
    cursor: pointer;
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > a {
    display: none;
    cursor: pointer;
}

.sidebar-brand {
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.sidebar-brand > span {
    margin-right: 5px;
    align-items: center;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type:none;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

.sidebar-list-item a {
    list-style-type: none;
    margin-right: 5px;
    color: #9799ab;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.dropdown-list {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin: 5px;
}

.dropdown-list > span {
    margin-right: 5px;
}

.dropdown-list:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.dropdown-content-comp {
    display: none;
    position: absolute;
    padding: 3px;
    min-width: 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    right: 80%;
}

.dropdown-content-comp a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #9799ab;
}

.dropdown-content-comp a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.dropdown-list:hover .dropdown-content-comp {
    display: block;
    background-color: #21232d;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title {
    display: flex;
    justify-content:space-between;
    margin-left: 80px;
}

.main-title > p {
    font-size: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
    border-left: 7px solid #367952;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner p {
    font-size: 18px;
    margin: 0;
    margin-right: 5px;
}

.card-inner > span {
    font-size: 30px;
    gap: 10px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow-y: scroll;
}

.charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}


/* ----------- MEDIA QUERIES ------------*/
/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        "header"
        "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .header-left {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }

    .dropdown-content-comp {
        right: 0%;
        display: none;
        position: absolute;
        overflow: hidden;
    }
    
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        overflow-y: scroll;
    }
    
    .dropdown-list {
        display: flex;
    }

    .dropdown-content-comp {
        right: -5%;
        display: none;
        position: absolute;
        overflow: hidden;
    }
}

/* Extra Small <= 576px*/
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}